<section id="wrapper" class="login-register">
    <div class="login-box login-sidebar animated fadeInRight">
        <div class="white-box">
            <form class="form-horizontal form-material" id="loginform" [formGroup]="formLogin" (ngSubmit)="getTokenLogin()">
                <a class="text-center db">
                    <br />
                    <h1 style="font-weight: 500;">TaskSpaces</h1>
                </a>

                <div class="form-group m-t-40" [ngClass]="{'has-error has-feedback': validateFields('email')}">
                    <div class="col-xs-12">
                        <input class="form-control" type="text" placeholder="Email" formControlName="email">
                        <span class="glyphicon glyphicon-remove form-control-feedback t-0" *ngIf="validateFields('email')"></span>
                        <div style="height: 18px;">
                            <small *ngIf="validateFields('email')" class="text-danger">
                              Favor ingrese un email válido
                            </small>
                        </div>
                    </div>
                </div>

                <div class="form-group" [ngClass]="{'has-error has-feedback': validateFields('password')}">
                    <div class="col-xs-12">
                        <input class="form-control" type="password" placeholder="Contraseña" formControlName="password">
                        <span class="glyphicon glyphicon-remove form-control-feedback t-0" *ngIf="validateFields('password')"></span>
                        <div style="height: 18px;">
                            <small *ngIf="validateFields('password')" class="text-danger">
                              Contraseña debe contener 8 caracteres
                            </small>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <div class="checkbox checkbox-primary pull-left p-t-0">
                            <input id="checkbox-signup" type="checkbox" formControlName="remind">
                            <label for="checkbox-signup"> Recordarme </label>
                        </div>
                        <a id="to-recover" class="text-dark pull-right"><i class="fa fa-lock m-r-5"></i>
              ¿Olvido su contraseña?</a>
                    </div>
                </div>

                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit" (click)="getTokenLogin()">
              Iniciar
            </button>
                    </div>
                </div>

                <div class="form-group m-b-0">
                    <div class="col-sm-12 text-center">
                        <p>¿No tienes una cuenta? <a routerLink="/register" class="text-primary m-l-5"><b>Registrarse</b></a></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
